/* Created by: MariaG
* Created on: March 24, 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-03-HTML-UserInput
*/

body {
  background-color: #ffffdb;
}

h1 {
  background-color: #fddb91;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-top: 5%;
}

#blue {
  background-color: #aed6f1;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}

#green {
  background-color: #ccfdbb;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}

#display{
  color: #103170;
}

/* Next line is to solve a problem with Super Linter*/
\n